body{
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    text-align: center;
}


body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container{
    margin-top: 5%;
    text-align: center;
    background-color: white;
    height: 460px;
    width: 300px;
    border: solid white;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
h{
    padding: 10px;
}
p{
    padding: 10px;
}

img{
    border-radius: 10%;
    padding: 10px;
}
.ptym{
    animation: a 2s ease 1s infinite  normal;
}

@keyframes a{
    from{
        font-weight: lighter;
        color: blue;
    }
    to {
        font-weight: bold;
        color: darkblue;
    }
}

@media screen and(max-width : 360px){
    body{
        flex-direction :column;
        font-size: 14px;
        padding: 10px;
    }

    img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

    h {
    font-size: 18px;
  }
   p {
    font-size: 14px;
    padding: 8px;
  }
}